### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule start index.html
RewriteRule pranie-dywanow-warszawa pranieDywanow.html
RewriteRule cennik-uslug-pranie-dywanow-wykladzin-tapicerki cennik.html
RewriteRule zlota-raczka-naprawy-okna-drzwi zlotaRaczka.html
RewriteRule kontakt-pranie-dywanow-zlota-raczka kontakt.html